@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* IMAGEM FUNDO */
.fundo{
    background-color: #0d192b;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.card{
    background-color: #14253d;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 10px #0d131c;
    transform: scale(0.9);
    width: 300px;
}

.imagem-card {
    display: block;
    border-radius: 25px;
    padding: 20px 20px 0px;
    width: 100%;
}

.overlay{
    background-color: #00ffff7a;
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 260px;
    height: 260px;
    margin: 20px 20px 0px;
    transition: 0.3s ease-in;
}

.overlay img{
    width: 65px;
}

.imagem-fundo:hover .overlay{
    opacity: 1;
}

/* CONTEÚDO */
.content{
    margin: 20px;
}

.soft-blue{
    color: hsl(215, 51%, 70%);
    opacity: 70%;
}

.content h1{
    color: #ffffff;
    font-size: 22px;
    opacity: 90%;
    padding-bottom: 10px;   
    transition: 0.3s;
}

.content h1:hover{
    cursor: pointer;
    color: #00ffff;
}

.box-content{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin: 20px 0px;
}

.box-content img{
    float: left;
    margin-right: 10px;
}

.right-side p{
    color: #8bacda;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.left-side p{
    color: aqua;
    display: flex;
    font-size: 15px;
    flex-direction: column;
}

hr{
    border-color: #2f415b;
    border-style: solid;
    width: 250px;
    margin: 0px auto;
}

/* ATRIBUITION */
.attribution{
    align-items: center;
    color: #8bacda;
    display:flex;
    font-size: 15px;
    justify-content: space-evenly;
    margin: auto;
    padding: 15px;
}

.attribution a {
    color: #3e52a3;
}

.attribution img{
    height: 35px;
}



